* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

html, body { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "MyriadPro Regular"; src: url("../fonts/MyriadPro-Regular.eot"); src: url("../fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "MyriadPro Light"; src: url("../fonts/MyriadPro-Light.eot"); src: url("../fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "MyriadPro Regular", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 13px; line-height: 1.2; color: #252525; background: white; min-width: 1000px; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
body.authentication { background: url("../img/pttrn.png"); color: white; }

a { color: #4383b8; text-decoration: none; }
a:hover { color: #135388; }

::selection { background: #5cb7e0; color: white; }

::-moz-selection { background: #5cb7e0; color: white; }

.hr { margin: 20px 0 !important; border-top: 1px dashed #cacaca; }

h1, .h1 { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 46px; line-height: 1; margin-bottom: 20px; }

h2, .h2 { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 21px; line-height: 1; margin-bottom: 20px; }

h3, .h3 { font-size: 15px; color: #252525; margin-bottom: 10px; font-weight: normal; }

.btn { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; display: inline-block; height: 48px; line-height: 48px; border: none; outline: none; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; appearance: normal; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; -webkit-transition: background 150ms linear; -moz-transition: background 150ms linear; -o-transition: background 150ms linear; transition: background 150ms linear; background: #3a719d; color: white; font-size: 15px; white-space: nowrap; padding: 0 30px; }
.btn:hover { background: #4a81ad; color: white; }
.btn:active { background: #2a618d; transition: none; }
.btn.btn_lg { height: 58px; line-height: 58px; }
.btn.btn_block { padding-left: 0; padding-right: 0; display: block; width: 100%; }
.btn.btn_lblue { background: #5cb7e0; }
.btn.btn_lblue:hover { background: #6cc7f0; }
.btn.btn_lblue:active { background: #4ca7d0; }
.btn.btn_purple { background: #86246e; }
.btn.btn_purple:hover { background: #96347e; }
.btn.btn_purple:active { background: #76145e; }
.btn.btn_lpurple { background: #cf6fb7; }
.btn.btn_lpurple:hover { background: #df7fc7; }
.btn.btn_lpurple:active { background: #bf5fa7; }
.btn > .fa { padding-left: 7px; }

.btn_def { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; background: #ffb400; padding: 0 40px; font-size: 20px; color: #252525; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0px rgba(0, 0, 0, 0.2); text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63); }
.btn_def:hover { background: #ffc400; color: #252525; }
.btn_def:active { background: #ffa400; transition: none; }
.btn_def > .fa { font-size: 15px; height: 18px; vertical-align: middle; }

.header .header__in, .footer .footer__in, .teaser .teaser__in, .search .search__in, .searchteaser .searchteaser__in, .setup .setup__in, .layout { width: 970px; margin-left: auto; margin-right: auto; }

.out { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -180px; }

.page { border-top: 1px solid #5dbbda; padding-top: 20px; }
.page.frontpage { border-top: none; }
.page > .layout { position: relative; }

.page-aside { min-height: 500px; }

.pagehead { margin-bottom: 20px; *zoom: 1; }
.pagehead:after { content: " "; display: table; clear: both; }
.pagehead .h1 { margin-bottom: 0; }
.pagehead > p { margin-top: 25px; }
.pagehead.pagehead_sep { padding-bottom: 25px; border-bottom: 1px dashed #cacaca; }

.content img { float: left; margin: 0 15px 15px 0; }
.content p { margin: 8px 0 6px; }
.content ul li { position: relative; margin: 0 0 5px 2px; padding: 0 0 0 14px; }
.content ul li:before { content: "\f0da"; font-family: "FontAwesome"; display: block; position: absolute; top: 0; left: 0; margin: 0 5px 0 0; }
.content table { margin: 20px 0; }
.content table th, .content table td { font-weight: normal; vertical-align: middle; border: 1px solid #e4e4e4; padding: 10px 13px; width: 25%; }
.content table th { background: #fcfcfc; font-size: 15px; line-height: 1; }
.content table .font20 { font-size: 20px; font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; }

.dashed-box { border: 1px dashed #7a7a7a; margin: 30px 0; padding: 20px; background: #fcfcfc; }

.dotted-box { border: 1px dotted #7a7a7a; margin: 30px 0; padding: 20px; }

.eas { *zoom: 1; }
.eas:after { content: " "; display: table; clear: both; }
.eas .eas__pic { float: left; width: 310px; margin-right: 35px; text-align: center; }
.eas .eas__pic img { display: inline-block; float: none; margin: 0; }
.eas .eas__info { overflow: hidden; }

.sidebar { padding-top: 15px; }
.sidebar.sidebar_sep:before { position: absolute; top: 0; left: 0; width: 220px; bottom: 0; border-right: 1px solid #e4e4e4; content: ""; }
.sidebar.sidebar_mod { padding-top: 0; }
.sidebar.sidebar_mod:before { top: -20px; background: #fbfbfb; }
.sidebar.sidebar_mod .nav { position: relative; }
.sidebar.sidebar_mod .nav li { margin-bottom: 0; }
.sidebar.sidebar_mod .nav li a { margin: 0; padding: 14px 20px 14px 30px; line-height: 1.2; }
.sidebar.sidebar_mod .nav li.is-active a { background: #54b8dc; color: white; }

.header { background: white; }
.header .header__in { *zoom: 1; padding: 16px 0; }
.header .header__in:after { content: " "; display: table; clear: both; }
.header .header__left { float: left; font-size: 0; }
.header .header__logo { display: inline-block; vertical-align: top; margin-top: 14px; margin-left: 15px; background: url('../img/icons-sda201e8af2.png') 0 0 no-repeat; width: 186px; height: 34px; }
.header .header__logo a { font: 0/0 a; text-shadow: none; color: transparent; display: block; height: 100%; }
.header .header__slogan { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; display: inline-block; vertical-align: top; border-left: 1px solid #b5ccde; padding: 11px 0 11px 20px; margin-left: 18px; font-size: 15px; color: #343434; }
.header .header__right { float: right; }
.header .header__action { margin-top: 21px; font-size: 16px; }
.header .header__action a { display: inline-block; vertical-align: middle; margin-left: 20px; }

.footer, .site_push { height: 180px; }

.footer { background: #414141; font-size: 13px; color: #e4e4e4; }
.footer a { color: #e4e4e4; }
.footer a:hover { color: #a3a3a3; }
.footer .footer__in { *zoom: 1; padding: 37px 0 30px; }
.footer .footer__in:after { content: " "; display: table; clear: both; }
.footer .footer__about { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; float: left; width: 320px; padding-right: 20px; }
.footer .footer__about h2 { line-height: 1; font-size: 26px; margin-bottom: 23px; font-weight: normal; }
.footer .footer__menu { float: left; color: #979797; }
.footer .footer__menucol { display: inline-block; vertical-align: top; padding: 0 20px; margin-left: 20px; }
.footer .footer__menucol:first-child { margin-left: 0; }
.footer .footer__menucol li { line-height: 14px; margin-bottom: 8px; }
.footer .footer__menucol a { border-bottom: 1px dashed #a3a3a3; }
.footer .footer__info { float: right; text-align: right; }
.footer .socials { margin-bottom: 50px; }
.footer .socials .social { display: inline-block; vertical-align: top; font-size: 0; margin-left: 20px; }
@media only screen and (max-width: 999px) { .footer .socials .social { margin: 0; padding: 0 10px; } }
@media only screen and (max-width: 760px) { .footer .socials .social { margin: 0; padding: 0 5px; } }
.footer .socials .social:first-child { margin-left: 0; }
.footer .socials .social a { font-size: 20px; color: #e4e4e4; text-decoration: none; display: inline-block; width: 43px; height: 43px; line-height: 42px; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #4c4c4c; -webkit-transition: all 150ms; -moz-transition: all 150ms; -o-transition: all 150ms; transition: all 150ms; }
.footer .socials .social a:hover { color: #e4e4e4; text-decoration: none; background: #6c6c6c; }
.footer .socials .social .fa { display: inline-block; vertical-align: middle; }
.footer .footer__copy { color: #979797; }

.teaser { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; background: #fbfbfb; border-top: 1px dashed #cacaca; }
.teaser.teaser_procinfo .teaser__in { padding: 25px 0; }
.teaser .teaser__in { *zoom: 1; padding: 54px 0 58px; }
.teaser .teaser__in:after { content: " "; display: table; clear: both; }
.teaser .teaser__col { display: table-cell; width: 33.33333%; color: #1e1e1e; padding: 20px 35px 0; border-left: 1px dashed #cacaca; text-align: center; font-size: 15px; }
.teaser .teaser__col:first-child { border: none; }
.teaser .teaser__col h2 { margin-bottom: 30px; font-size: 32px; font-weight: normal; line-height: 1; }
.teaser .teaser__col p { margin-top: 10px; min-height: 54px; }
.teaser .procinfo th, .teaser .procinfo td { border: 1px dashed #cacaca; border-width: 0 0 0 1px; }
.teaser .procinfo h2 { font-size: 18px; }
.teaser .procinfo.procinfo_cols td { padding: 10px 10px 5px; }

.search { background: url("../img/pttrn.png"); color: white; text-align: center; }
.search.search_front { background-position: 50% 0; background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.search.search_notice .search__form { float: left; }
.search .search__notice { float: left; width: 205px; margin-right: 120px; font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 20px; color: white; text-align: left; }
.search .search__notice li { border-top: 1px dashed white; padding: 15px 0; }
.search .search__notice li:first-child { border: none; padding: 0 0 15px; }
.search .search__in { *zoom: 1; padding: 35px 0; }
.search .search__in:after { content: " "; display: table; clear: both; }
.search .search__row { text-align: center; border-top: 1px solid #3aa4bd; -webkit-box-shadow: inset 0 1px 0 #68cae6; -moz-box-shadow: inset 0 1px 0 #68cae6; box-shadow: inset 0 1px 0 #68cae6; background: url(../img/search_fade.png) repeat-x; }
.search .search__row:first-child { border: none; background: none; -webkit-box-shadow: none; box-shadow: none; }
.search .search__row .search__in { padding: 25px 0; }
.search .search__title { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 40px; line-height: 1; }
.search .search__title.search__title_sm { font-size: 26px; }
.search .search__subtitle { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 26px; line-height: 1.2; }
.search .search__form { width: 540px; margin: 0 auto; }
.search .search__form .search__title { margin-bottom: 25px; }
.search .search__form .search__title.search__title_sm { margin-bottom: 10px; }
.search .search__form.search__form_mod .search__control { width: 338px; display: inline-block; vertical-align: top; }
.search .search__form.search__form_mod .search__group { margin: 10px 0 0; }
.search .search__form.search__form_inline { width: auto; text-align: left; }
.search .search__form.search__form_inline .search__group { display: inline-block; vertical-align: top; width: 407px; margin: 0 10px 0 0; }
.search .search__form.search__form_inline .search__action { display: inline-block; vertical-align: top; }
.search .search__form.search__form_inline .search__submit { font-size: 20px; line-height: 20px; padding: 16px 38px 12px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.63); }
.search .search__form.search__form_inline .search__link { bottom: 100%; top: auto; margin-bottom: 20px; right: 10px; }
.search .search__label { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; display: inline-block; font-size: 18px; padding: 5px 5px 5px 0; text-align: left; }
.search .search__group { margin: 15px 0; }
.search .search__control { position: relative; background-color: white; background-color: rgba(255, 255, 255, 0.8); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 -1px 0 white; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 -1px 0 white; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 -1px 0 white; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; text-align: left; height: 58px; }
.search .search__control.search__control_sm { height: 48px; }
.search .search__control.search__control_sm .search__input, .search .search__control.search__control_sm .search__select { font-size: 15px; padding: 16px 15px 11px; }
.search .search__control.search__control_sm .search__select .fa { font-size: 18px; }
.search .search__control.search__control_sm .search__selectarrow { margin-top: -12px; }
.search .search__input, .search .search__select { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 17px; color: #4c4c4c; background: none; padding: 22px 15px 15px; line-height: 21px; position: absolute; top: 1px; left: 0; width: 100%; bottom: 1px; }
.search .search__input:-moz-placeholder, .search .search__input::-moz-placeholder { color: #4c4c4c; opacity: 1; }
.search .search__input::-webkit-input-placeholder { color: #4c4c4c; }
.search .search__input:focus:-moz-placeholder, .search .search__input:focus::-moz-placeholder { color: transparent; opacity: 1; }
.search .search__input:focus::-webkit-input-placeholder { color: transparent; }
.search .search__select select { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-appearance: none; -moz-appearance: none; appearance: normal; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; cursor: pointer; }
.search .search__select .fa { font-size: 22px; }
.search .search__selectarrow { position: absolute; top: 50%; right: 0; font-size: 22px; margin-top: -13px; padding-right: 0; }
.search .search__selectwrap { position: relative; }
.search .search__selectvalue .fa { position: relative; top: -2px; display: inline-block; vertical-align: middle; padding-right: 13px; }
.search .search__selectvalue span { display: inline-block; vertical-align: middle; color: #4c4c4c; width: 80%; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.search .search__filter { position: absolute; top: 1px; right: 0; width: 180px; bottom: 1px; z-index: 1; border-left: 1px solid #f1f8fa; border-left: 1px solid rgba(255, 255, 255, 0.8); -webkit-box-shadow: -1px 0 0 #c9d7db; -moz-box-shadow: -1px 0 0 #c9d7db; box-shadow: -1px 0 0 #c9d7db; }
.search .search__filter .search__select { top: 0; bottom: 0; }
.search .search__action { position: relative; text-align: center; }
.search .search__submit { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; height: auto; line-height: 24px; padding: 20px 76px 14px; font-size: 24px; text-shadow: none; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.4); }
.search .search__link { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; position: absolute; top: 20px; right: 0; font-size: 17px; color: #4c4c4c; text-decoration: none; border-bottom: 1px dashed #5c7379; line-height: 1; }
.search .search__link:hover { border-color: transparent; }

.searchteaser { background: black; background: rgba(0, 0, 0, 0.58); text-align: center; }
.searchteaser.searchteaser_mod { background: rgba(0, 0, 0, 0.4); text-align: left; }
.searchteaser .searchteaser__in { padding: 45px 0 35px; }
.searchteaser .searchteaser__col { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; display: table-cell; width: 33.33333%; padding: 0 25px; }
.searchteaser .searchteaser__col h2 { font-size: 32px; font-weight: normal; line-height: 1.1; }
.searchteaser .searchteaser__col p { font-size: 15px; margin-top: 15px; }

.nav > ul > li { margin-bottom: 20px; }
.nav > ul > li.has-subnav { margin-bottom: 10px; }
.nav > ul > li.is-active > a .fa { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.nav > ul > li > a { position: relative; display: block; margin-left: 15px; padding: 0 20px 0 18px; font-size: 15px; cursor: pointer; line-height: 1; }
.nav > ul > li > a .fa { display: block; position: absolute; top: -2px; left: 0; }
.nav a { color: #3373a8; }
.nav a:hover { color: #135388; }
.nav .subnav { margin-top: 10px; padding: 1px 0; border: 1px solid #e2e2e2; border-width: 1px 0; }
.nav .subnav li { background: #fbfbfb; }
.nav .subnav li.is-active a { color: #135388; }
.nav .subnav a { position: relative; display: block; cursor: pointer; padding: 6px 20px 6px 10px; font-size: 14px; margin-left: 38px; }
.nav .subnav a .fa { position: absolute; top: 6px; left: 0; font-size: 12px; }

.procedures { margin-bottom: 40px; }
.procedures .procedures__head { *zoom: 1; margin-bottom: 17px; }
.procedures .procedures__head:after { content: " "; display: table; clear: both; }
.procedures .procedures__head .btn { float: right; }
.procedures .procedures__title { float: left; font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; padding: 10px 0 0 25px; font-size: 32px; color: #1e1e1e; line-height: 1; }
.procedures .procedures__title .fa { position: relative; top: -3px; font-size: 20px; padding: 0 15px 0 0; vertical-align: middle; }
.procedures .procedures__title .fa.fa-star { color: #ffb400; }
.procedures .procedures__title .fa.fa-thumbs-up { color: #3a719d; }
.procedures .procinfo { padding: 1px 0 0; border-top: 3px solid #6c99be; }

.procinfo { font-family: "MyriadPro Regular", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; }
.procinfo th, .procinfo td { text-align: center; vertical-align: middle; border: 1px solid #cacaca; border-width: 0 0 1px 1px; font-size: 13px; color: #343434; padding: 14px 16px; }
.procinfo th:first-child, .procinfo td:first-child { text-align: left; border-left: none; width: 215px; }
.procinfo th { background: #fbfbfb; font-size: 15px; color: #1e1e1e; font-weight: normal; }
.procinfo span { color: #7d7d7d; }
.procinfo h2 { font-size: 16px; font-weight: normal; line-height: 1; margin-bottom: 10px; }
.procinfo p { margin-top: 0; margin-bottom: 5px; }
.procinfo .procinfo__price { margin-top: 15px; font-size: 23px; white-space: nowrap; line-height: 1; }
.procinfo .procinfo__price .fa { font-size: 20px; padding-right: 7px; }
.procinfo .procinfo__price .fa-tag { color: #ffb400; }
.procinfo .procinfo__details { margin-top: 15px; font-size: 15px; }
.procinfo .procinfo__moreoffers { margin-top: 20px; text-align: center; }
.procinfo .procinfo__moreoffers .btn.btn_lg { padding: 0 67px; }
.procinfo.procinfo_cols td { text-align: center; vertical-align: middle; width: 25%; padding: 20px 10px 15px; }
.procinfo.procinfo_cols td:first-child { text-align: center; }
.procinfo.procinfo_cols td.procinfo__more { background: #f4f4f4; font-size: 15px; }

.setup { font-size: 15px; }
.setup .setup__in { padding: 50px 0 100px; }
.setup .l-col2 { width: 407px; }
.setup .setup__title { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 46px; text-align: right; line-height: 1; margin-bottom: 40px; }
.setup .setup__title span { text-transform: uppercase; }
.setup .setup__title span b { font-family: "MyriadPro Regular", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; }
.setup .setup__options { float: right; margin-right: 15px; }
.setup .setup__row { margin-bottom: 20px; *zoom: 1; }
.setup .setup__row:after { content: " "; display: table; clear: both; }
.setup .setup__row .btn { text-align: center; float: left; padding: 0; width: 197px; }
.setup .input { width: 197px; float: left; margin-right: 0; }
.setup .input:first-child { margin-right: 13px; }
.setup .setup__message .fa { padding-right: 7px; }
.setup .setup__message .fa.fa-exclamation-triangle { color: #ffb400; }

.input { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; position: relative; background-color: white; background-color: rgba(255, 255, 255, 0.8); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 -1px 0 white; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 -1px 0 white; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75), inset 0 -1px 0 white; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; font-size: 15px; padding: 16px 18px 11px; color: #4c4c4c; line-height: 21px; height: 48px; }
.input:-moz-placeholder, .input::-moz-placeholder { color: #4c4c4c; opacity: 1; }
.input::-webkit-input-placeholder { color: #4c4c4c; }
.input:focus:-moz-placeholder, .input:focus::-moz-placeholder { color: transparent; opacity: 1; }
.input:focus::-webkit-input-placeholder { color: transparent; }
.input.input_block { display: block; float: none; width: 100%; }

.radio { margin-bottom: 10px; font-size: 15px; }
.radio.is-checked span { border-bottom: 1px dashed #e0e0e0; }
.radio label { position: relative; display: block; min-height: 16px; padding-left: 30px; cursor: pointer; }
.radio label input { opacity: 0; width: 16px; height: 17px; }
.radio label i { background: url('../img/icons-sda201e8af2.png') 0 -44px no-repeat; width: 16px; height: 17px; }
.radio label input, .radio label i { position: absolute; top: 0; left: 0; }
.radio label input:checked + i:after { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-sda201e8af2.png') 0 -71px no-repeat; width: 16px; height: 17px; }

.openid .openid__signin { *zoom: 1; }
.openid .openid__signin:after { content: " "; display: table; clear: both; }
.openid .openid__btn { float: left; vertical-align: middle; font-size: 15px; color: white; text-decoration: none; height: 48px; width: 197px; margin-left: 13px; border: 2px solid white; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; text-align: left; padding: 12px 18px; white-space: nowrap; -webkit-transition: all 150ms linear; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; transition: all 150ms linear; }
.openid .openid__btn:first-child { margin-left: 0; }
.openid .openid__btn:hover { background: white; color: #53aed2; }
.openid .openid__btn:active { background: rgba(255, 255, 255, 0.9); color: #53aed2; }
.openid .openid__btn .fa { display: inline-block; vertical-align: middle; font-size: 22px; padding-right: 8px; }
.openid p { text-align: center; margin-top: 13px; line-height: 1; }

.main-title { *zoom: 1; }
.main-title:after { content: " "; display: table; clear: both; }
.main-title .date { float: right; }

.date { font-family: "MyriadPro Light", Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-size: 21px; color: #a8a8a8; line-height: 1; }
.date .fa { font-size: 17px; padding-right: 10px; }

.parameters .parameters__row { margin-bottom: 20px; }
.parameters .parameters__row.layout { width: 100%; }
.parameters .parameters__row .l-cell { display: table-cell; padding-left: 5px; }
.parameters .parameters__row .l-cell:first-child { padding-left: 0; padding-right: 5px; }
.parameters .parameters__label { padding-left: 5px; margin-bottom: 8px; }

.layout { *zoom: 1; }
.layout:after { content: " "; display: table; clear: both; }
.layout .l-sidebar { float: left; width: 220px; }
.layout .l-main { overflow: hidden; margin-left: 255px; }
.layout .l-sidebar, .layout .l-main { padding: 10px 0 20px; }
.layout .l-col1 { float: left; width: 380px; }
.layout .l-col2 { margin-left: 430px; overflow: hidden; }
